<h4 class="d-flex mb-4">
  <span>Posts</span>
  <%= link_to 'Home Page', root_path, class:'btn btn-primary  ms-auto' %>
  <%= link_to 'New Post', new_post_path, class:'btn btn-primary mx-3' %>
  <%= link_to 'Log Out', destroy_author_session_path, method: :delete, class:'btn btn-danger' %>
</h4>

<% @posts.each do |post| %>
  <%= link_to edit_post_path(post), class:'text-decoration-none' do %>
    <div class="card mb-3 post-card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <% if post.header_image.present? %>
              <div class="header-img" style="background-image: url(<%= url_for(post.header_image) %>);"></div>
            <% end %>
          </div>
          <div class="col-md-10">
            <% if post.published? %>
             <span class="badge bg-primary mb-2">Published</span>
            <% else %>
              <span class="badge bg-secondary mb-2">Unpublished</span>
            <% end %>
            <h5 class="card-title mb-2 text-dark"><%= post.title %></h5>
            <p class="text-secondary"><%= post.description %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
